:host{
  display: flex;
  flex-direction: row;
}

main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  mat-nav-list{
    flex: 1;
    overflow-y: auto;
  }
}

form{
  margin-bottom: 64px;
}

section{
  flex: 1;
  text-align: center;
}

mat-form-field{
  display: block;
}